@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
}

/* Navbar Design  */
nav {
  background-color: slategray;
  /* margin-top: 5px; */
  padding: 20px 0;
}

.navbar-main {
  max-width: 1280px;
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 0lvw;
}

.navbar-main h1 {
  font-style: italic;
}

.navbar-main button {
  background-color: black;
  color: white;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
}

.navbar-main button:hover {
  transition: all 1s;
  background-color: white;
  color: black;
}

.menu-icon {
  display: none;
}

/* Banner Design  */
.banner-container {
  max-width: 1280px;
  height: 400px;
  margin: 0 auto;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  background-color: aliceblue;
  padding: 10px;
  position: relative;
}

.image-section,
.text-section {
  width: 50%;
  /* border: 2px solid yellow; */
}

.image-section img {
  width: 85%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 2ch;
}

.fifty-off {
  background-color: rgba(0, 0, 0, 0.352);
  color: whitesmoke;
  font-style: italic;
  width: max-content;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: large;
  font-weight: 400;
  position: absolute;
  top: 40%;
  left: 17%;
}

.text-section p {
  color: gray;
  margin: 20px auto;
}

.order-btn {
  background-color: cadetblue;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.order-btn:hover {
  transition: all 1s;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.shop-btn {
  margin-left: 6px;
  background-color: gray;
  padding: 6px 12px;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.shop-btn:hover {
  transition: all 1s;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
